[2018-01-24 16:01] JoniVR opened #2 "Bug where sliding a card all the way to the side and releasing doesn't call "UIGestureRecognizerStateEnded"."
Sliding a card all the way to the side and releasing doesn't call "UIGestureRecognizerStateEnded".

This causes the card to be stuck on the side. Reason for this bug is because the finger that is dragging the card is not in the card area anymore.

code inside
[code]
is not reached, which is why code inside .ended never gets executed.

[2018-01-25 16:43] #2 closed

[2018-03-03 14:54] alessign opened #3 "IndexPath.row "3" Issues"
Hello, thanks for sharing this library. Exactly what I was looking for. I found one problem which I can't explain its behaviour and where is it coming from. I need to use the index of the visible cell to save it as a progress, so next time the user loads the collection view with the specific theme, it can scroll to index where it was left last time.

It's straight forward implementation, but the i

[2018-03-03 15:16] JoniVR commented on #3
Hi @alessign,

I'm glad you like it, I built this because I was looking for something like this myself and couldn't find anything.

I looked into the index bug, and it seems like you're right, I haven't figured out what is causing it yet, but I'll look into it when I get some more time.

About the card having an offset on the Y-axis, this is also something I wasn't aware of, but it's been noted an

[2018-03-03 15:39] alessign commented on #3
Hi Joni, thanks for the swift answer! Of course I am aware there will be some little bugs to improve, but great job so far!

If I'll find solution/s before you do, I'll share it of course.

Best,

A.

[2018-03-03 23:47] JoniVR commented on #3
Hi @alessign,

I looked into the code some more and did some testing, from what I could find, there's no problem with the indexpaths after all (you can test this by adding a label to the cardcell and assigning the indexpath.row value to the label in the cellforitem function)

as for finding which cell is currently being displayed, I think I've found something that might help you out with this (if

[2018-03-04 14:36] alessign commented on #3
Great! Thanks for looking into this. I was about to implement manual counter updating method, but this is much simpler.

Cheers!

[2018-03-05 11:35] JoniVR opened #4 "Animation bug caused by anchorPoint?"
## General
I'm just going to use this issue to document this bug, so people know I'm aware of it and looking for fixes. The bug is a visual animation glitch that sometimes happens when the user swipes away a card. ~~I personally think it's related to resetting the anchorPoint of the CardCell, but I'm not sure about it yet.~~

## Steps to reproduce

1. Scroll down a few cards
2. Swipe away some car

[2018-03-06 10:36] alessign commented on #3
Also, I came across VegaScroll repo just now. It may be helpful for you when improving your repo: https://github.com/ApplikeySolutions/VegaScroll

[2018-03-06 10:58] JoniVR commented on #3
I'm aware of VegaScroll (I actually did a small PR there once), but I think their system is completely different, they also don't really have to deal with cell based paging as far as I'm aware, but thanks for sharing 🙂 I'll probably end up rewriting the `targetContentOffset` function, as it's not perfect yet.

[2018-03-08 10:07] JoniVR commented on #3
Hi @alessign,

I pushed a commit (9c428f7) to the development branch which should fix the offset at the Y-axis at the bottom.

For the "disable user interaction with a bool", you could try looking at `collectionView.isUserInteractionEnabled`.

Hope this helps, where there any other issues or things I missed?
(I'll probably rewrite the cell paging code later when I get some time but this should wor

[2018-03-08 10:28] alessign commented on #3
Great, thanks! That was easy enough. I wasn't able to figure it out. And yes, I will use the method you suggested to lock the completed "flashcard deck"

Cheers!

[2018-03-08 10:28] #3 closed

[2018-03-25 19:52] JoniVR commented on #4
Can't seem to find out the exact issue, I discovered that there's also an animation glitch happening on the last 2 cells, so it could have something to do with the fact that animations need to be handled differently for the first and last cells.

[Here's a video showing the visual glitches](https://www.youtube.com/watch?v=mTSjq7lq3ws)

**edit:**  Seems like the top animation glitch only happens af

[2018-04-28 15:46] JoniVR commented on #4
I asked a [question on stackoverflow](https://stackoverflow.com/questions/50070419/unexpected-animation-glitch-related-to-scroll-to-top) about this, and someone suggested that it is probably related to the implicit animations inside of `performBatchUpdates` to remove the cell after swiping it away.
[code]

I tested this out and it does look like this might be the case, I'll look into (hopefully) f

[2018-04-28 20:59] #4 closed

[2018-06-05 17:39] alessign opened #5 "Universal app - iPad display cell size"
Hi Joni,

I came across little problem, not a bug. I want to make my app universal using your repo and everything works just fine, except I am not sure if I like the large cells on iPad display. It's too chunky for my app and what it offers. I tried to make the cell smaller just for the iPad in `layoutSubviews()` method in the UICollectionViewCell class:

[code]

As you can see, I want to keep the

[2018-06-05 17:53] JoniVR commented on #5
Hi @alessign,

I'm currently working on making this framework developer friendly and easy to use to allow these kinds of things (see development branch) and I haven't tested it to work on iPad, that's planned for the future.

However, if you need a solution to do this now, I'd suggest changing some things in the `sizeForItem` function of the `UICollectionViewDelegateFlowLayout` extension inside `H

[2018-06-05 18:39] alessign commented on #5
Splendid, that method worked! Thank you. And you're right, removing `== true` has the same result...cheers

[2018-06-05 18:39] #5 closed

[2018-06-24 15:05] lurein opened #6 "CocoaPod Install Not Working"
Can no longer install with CocoaPods:
"Unable to find a specification for `VerticalCardSwiper"

[2018-06-24 15:13] JoniVR commented on #6
Hi @lurein

How did you try to install? Make sure you add the version behind it for now.
As we're still in beta, it's required to add the version behind the pod name. So it should be like this:
[code]

I'll be fixing this soon so you don't need the version behind it.
I just tested this and it works on my end, but let me know if you're still having issues, then we'll figure it out.

Best regards
Jo

[2018-06-24 15:18] lurein commented on #6
Hi Joni,

Yes I tried this as well and unfortunately it gave the same error.

Thanks,
LP

[2018-06-24 15:20] JoniVR commented on #6
Alright, I'll look into it and see if I can find anything, could you perhaps share your podfile (or parts of it) here if you don't mind?

[2018-06-24 15:38] lurein commented on #6
platform :ios, '10.0'

target 'MyApp' do
use_frameworks!
    pod 'Firebase/Core'
    pod 'Firebase/Storage'
    pod 'Firebase/Firestore'
    pod 'FirebaseUI'
    pod 'AlertOnboarding'
    pod 'LGButton'
    pod 'VerticalCardSwiper', '0.1.0-beta1'
end

[2018-06-24 18:27] JoniVR commented on #6
Could you please try running:
[code]

if that doesn't help, try installing an earlier version to see if that works:
[code]

I'm not sure what's causing this at the moment as I made a test project and it seems to work on that version. Could it possibly be related to your Cocoapods version?

[2018-06-26 13:30] erdemgc opened #7 "Is it possible to count vertical swipe?"
Hello,

I need to know, I am at the end of the collection, is it possible somehow?

BR,

[2018-06-26 13:39] JoniVR commented on #7
Hi @erdemgc

This is currently not a built-in feature, but I'll look into adding it to the `VerticalCardSwiperDelegate` perhaps, as it might be useful.

For now, you could try doing something like this:

[code]

Keep in mind that I haven't tested if this works, so let me know if it doesn't.
Hope this helps.

Best regards
Joni

[2018-06-26 14:09] erdemgc commented on #7
Instead I have added new methods to delegate ; didSwipeDown and didSwipeUp. It also works fine.

Thanks for the cooperation.

BR,

Erdem

[2018-06-26 14:12] JoniVR commented on #7
Awesome, I'll try to add those soon, I'm closing this, feel free to reopen.
Have a nice day.

[2018-06-26 14:12] #7 closed

[2018-06-27 15:06] JoniVR commented on #6
Hi @lurein

Any updates on the issue? Otherwise I'll close it soon.

edit: closed, feel free to reopen.

[2018-06-28 12:20] #6 closed

[2018-06-29 11:35] lurein opened #8 "Unexpectedly found nil while unwrapping an Optional Value"
After following the steps outlined in the readme, I get the following error in viewDidLoad on the line: cardSwiper.datasource = self

Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value
causing the app to crash on startup.

[2018-06-29 11:47] JoniVR commented on #8
Hi @lurein

After testing with a new project, it seems like you're right, I'm getting the same problem.

I'll look into it and try to release a fixed version today.

Thank you for letting me know.

[2018-06-29 11:56] JoniVR commented on #8
@lurein If you want a workaround right now and don't mind using storyboard, try adding the VerticalCardSwiper class to the view of the controller (or take a look at the example), that approach still seems to work.

![schermafbeelding 2018-06-29 om 13 54 19](https://user-images.githubusercontent.com/7591717/42091088-30629f64-7ba4-11e8-9b59-4b367ae6c8c6.png)

[2018-06-29 12:53] JoniVR commented on #8
Forgot to reference this issue, but it should be fixed in b4642a0 by changing up the example code and using the `init(frame: CGRect)` function instead. I think something just went wrong with casting the view.

I'll release it in a moment so you can use this method.

Closing this issue, feel free to reopen if you still come across it.

**edit:** version `0.1.0-beta3` is released, which should fix t

[2018-06-29 12:53] #8 closed

[2018-07-02 21:42] erdemgc opened #9 "Ability to add cards at runtime"
Hello,

There is a tiny bug that prevents users to add item at a runtime.

In order to fix this, I have changed

this;
[code]
to this:
[code]
BR,

Erdem

[2018-07-02 22:16] JoniVR commented on #9
Hi,

Thanks for reporting!

 I've had issues with this function before so I'll look into fixing this in the near future.

All the best,
Joni

[2018-07-04 01:58] Andrew05 opened #10 "Changing cards to swipe horizontally instead of vertically"
Hello,

I do not have a bug to report but more of a request for help with the use of this project.

I discovered this repo earlier tonight and I love it so far. For my own project, I am trying to get the cards to swipe on a horizontal plane (from left to right and vice versa). I do not need the functionality to swipe away cards, simply to scroll horizontally.

I've been playing around with `Vertic

[2018-07-04 12:10] JoniVR commented on #10
Hi @Andrew05,

This functionality is probably not going to be implemented in the near future since it would require a lot of rewriting and I'd rather get some other things fixed first.

Normally if you switch up the X and Y values you should be able to get the same results on the horizontal axis instead of vertical but you need to make sure you account for all insets etc.

I posted my solution for

[2018-07-05 19:06] Andrew05 commented on #10
This is incredible. Thanks for the help. I was very stuck trying to modify things around but this made it very clear. I really appreciate this!

[2018-07-05 19:20] JoniVR commented on #10
No problem, I've been in your situation, it's not easy to implement bug-free cell based paging. Glad it helped. I'm going to close the issue for now, let me know if you still need any help (you can always reopen it).

[2018-07-05 19:20] #10 closed

[2018-08-13 09:33] agshinrajabov opened #11 "reloadData() is not working"
`medias.observe(.value) { (snapshot) in
            guard let postsSnapshot = PostMedias(with: snapshot) else { return }
            self.medias = postsSnapshot.medias
            self.cardSwiper.reloadData()
        }`

my code is working but when I want to add Card Wiper using reload data, nothing is there.

[2018-08-13 10:05] JoniVR commented on #11
hi @agshinrajabov

I have just tested the `reloadData()` function inside the Example project and it seems to be working fine for me.

Things I tested:
* Adding data and then reloading
* Removing data and then reloading
* Changing data and then reloading

As you seem to be working with Firebase, make sure you're actually receiving the data.

You can test the `reloadData()` function yourself inside

[2018-08-13 19:09] #11 closed

[2018-09-14 08:30] ETmanwenhan opened #12 "How did horizontal achieve this?"
How did horizontal achieve this?

[2018-09-14 08:58] JoniVR commented on #12
Hi @ETmanwenhan

I'm not sure what you're asking? Could you please elaborate on what you mean exactly?

**If you mean if it's possible to have horizontal scrolling cards instead of vertical:**
That's currently not supported and I don't think it will be in the future since it would require a lot of rewriting and would make the code very messy.

There was an issue about this earlier #10 in which I w

[2018-09-14 09:07] ETmanwenhan commented on #12
![28d246c9-b25d-4820-8ee9-506a7d1af438](https://user-images.githubusercontent.com/5837888/45541008-6e22eb00-b840-11e8-8ba9-cac5a4774494.png)
I want to achieve the effect of horizontal scrolling!

[2018-09-14 09:09] JoniVR commented on #12
Alright, then I suggest you either look at issue #10, as I've already talked a lot about this over there.

Or, alternatively, I would suggest something like this:
https://github.com/fahidattique55/FAPaginationLayout

Hope this helps 🙂

[2018-09-14 18:44] #12 closed

[2018-10-09 06:20] VladIacobIonut opened #13 "Shazam effect"
I cloned the project in the attempt to include the stack effect for the vertical collection as in Shazam. I managed to do so except the fact that sometimes the stack displays two cards behind, sometimes three. Did you came across this problem when trying to implement this effect ? I think the problem is the third cell (which should be displayed in the background always when the indexPath is greate

[2018-10-09 07:02] VladIacobIonut commented on #13
I opened a PR (#14) for that as well so you can see the implementation

[2018-10-09 07:17] JoniVR commented on #13
Hi @VladIacobIonut

First of all, thanks for contributing.

I haven't properly looked into adding the effect before because I was trying to get things as stable as possible, but it's really great that you've already started looking into it.
It could indeed be something you describe, as I've seen some indexPath and zPosition issues before.
I'm currently a bit limited in free time, but I'll try to l

[2018-10-09 08:33] JoniVR commented on #13
You are correct, for some reason this only seems to be happening on index 5 and 9 on the example code. I'll try to figure out what's happening but I'm currently not sure.

[2018-10-09 09:06] VladIacobIonut commented on #13
Indeed, didn't notice however this always happens on indexes 5 and 9 but it's true. Please let me know if you fix it. I will also be looking for a fix in the meanwhile.

Thank you,
Vlad.

[2018-10-09 21:36] JoniVR commented on #13
I did some more debugging and figured out the following things (nothing special really, just some extra info on the bug):

* The issue already existed before your implementation of the stack effect.
* It is indeed a cell reuse issue (on certain indexes 5,9 for example it will have 4 instead of 3 "visible cells")

I thought I might be because some layout differences because of the cell scaling or s

[2018-10-10 03:20] mavieth opened #15 "Programmatic Implementation"
I have tried a few different methods, but do you have an entirely programmatic to load (and lazy load) and cardSwipe view controller?

Rather than
[code]

It would be something like

[code]

Thanks!

[2018-10-10 06:25] VladIacobIonut commented on #13
Sure. I am even considering the case in which Shazam uses two static views behind the CollectionView to simulate the stack effect. But I really hope I'm wrong.

Thank you anyways for looking into this !

[2018-10-10 10:02] JoniVR commented on #15
Hi @mavieth

The [README.md](https://github.com/JoniVR/VerticalCardSwiper/blob/master/README.md) file doesn't use an IBOutlet, so I would recommend checking that out (especially the `Usage` section).
It should just work like that. The `VerticalCardSwiper` is a subclass of a `UIView` so you can treat it exactly like any other view when instantiating it.
Let me know if you experience any further iss

[2018-10-10 10:44] JoniVR commented on #13
They could possibly just be using UIViews too, I've seen it before, but the reason I picked `UICollectionview` as a base layer to start from was the cell reuse so.. hope I'm not going to regret that decision lol

[2018-10-10 20:30] JoniVR commented on #13
Opened a Stackoverflow question on this:
https://stackoverflow.com/questions/52739405/uicollectionview-custom-layout-some-indexes-have-more-visible-cells-than-others

I'll edit this comment whenever I find new observations and post them below.
Here are some observations:
* The issue already existed before your implementation of the stack effect.
* It is indeed a cell reuse issue (on certain indexe

[2018-10-11 06:10] VladIacobIonut commented on #13
Good !! I'll keep an eye on it myself

[2018-10-11 08:49] #15 closed

[2018-10-17 11:32] mightymango opened #16 "Switching Orientation"
When switching between portrait and landscape the layout does not update. If however I remove a card by swiping left or right, it then updates.

Is there a way to force this layout update on orientation change?

[2018-10-17 11:47] JoniVR commented on #16
Hi @mightymango

Rotating views isn't really something I've looked into thus far, so landscape isn't tested or supported in any way currently.

However, it should work with some minor adjustments.
I haven't tried this yet, but you should be able to manually force the layout to redraw (even though it should do that by itself already).

Try doing something like (inside your `UIViewController`):
[cod

[2018-10-17 12:18] mightymango commented on #16
Thanks for the very quick response 😊

You just beat me to it, I was just trying the same solution:

[code]

The above allows for changing spacing etc. for different orientations.

[2018-10-17 12:18] #16 closed

[2018-10-17 14:03] mightymango commented on #9
I've been able to get this working by adding the following to the VC:

[code]

By setting the datasource to nil while inserting the item and then setting it back correctly it seems to work around this issue.

[2018-10-17 14:06] JoniVR commented on #9
Thanks for posting your solution, I have this almost completely implemented in a git stash somewhere but I was still finishing up some minor stuff and fixing some other things before releasing that, just for future reference that this should be supported pretty soon.

[2018-10-18 08:06] JoniVR commented on #13
I submitted the fix someone suggested on stackoverflow, as far as I can tell there still a little issue where the card position isn't 100% right after starting a swipe to either side and then aborting, but this should be fairly easy to fix.

[2018-10-18 13:22] VladIacobIonut commented on #13
Hi again,

I'm happy to hear this got fixed somehow! as I hope I'll use this one day in a real app. I watched the thread on Stackoverflow as well but didn't notice a new answer was posted until this morning when you replied here. I only noticed that guy who implied the problem might come from the collectionviewlayout which decides to show only two cards. Fairly this was my intuition as well, but I

[2018-10-20 10:42] JoniVR commented on #13
I submitted a fix for the final glitch and everything seems to be working now, I'll merge this into a separate branch and then into development. After that I'll push development to master when I release the next version (which should be pretty soon).

**edit:**
Almost forgot! thanks for contributing by the way 🙂 I mentioned you in the [Changelog](https://github.com/JoniVR/VerticalCardSwiper/blob/m

[2018-10-20 11:03] #13 closed

[2018-10-27 19:09] richardpap opened #17 "Delegate issue?"
Hey,
After following the how to use section, I'm running into an error:
"Type 'XYViewController' does not conform to protocol 'VerticalCardSwiperDatasource'" and wants to add the "cardForItemAt" function, however, its implemented as it was described:

[code]
This function has a warning btw: "Cast from 'UICollectionViewCell' to unrelated type 'ExampleCardCell' always fails"

The only difference in

[2018-10-27 22:39] JoniVR commented on #17
Hi @richardpap,

Quick question, what does your `ExampleCardCell` class look like? Does it inherit from `CardCell`?

If it doesn't, that should explain why you get the `Cast from 'UICollectionViewCell' to unrelated type 'ExampleCardCell' always fails"` message.

I just removed the .nib file and did the whole cell loading programmatically in the example and that seems to work for me so I think it s

[2018-10-28 03:18] richardpap commented on #17
Thanks for the help!

I created a brand new project and implemented everything, however now i'm getting "Fatal error: Unexpectedly found nil while unwrapping an Optional value" error. The difference in my code is that i dont use storyboards at all. I've uploaded the project, you can check it
[cards.zip](https://github.com/JoniVR/VerticalCardSwiper/files/2522430/cards.zip)
:

[2018-10-28 03:38] richardpap commented on #17
Hmm, i created a brand new project, implemented everything by your example and now it works. So something most be in my project causing this issue.

Thank you for the help!

Kind regards,
Richard

[2018-11-01 21:46] JoniVR commented on #17
Any updates on this? Did you find the problem?

[2018-11-02 12:28] richardpap commented on #17
Yep, I managed to fix it last night. I had a class called CardCell as well in my code, which caused the issue. Now everything works perfectly.

[2018-11-02 12:39] JoniVR commented on #17
Alright, great to hear! 🎉
Closing this issue 🙂

[2018-11-02 12:39] #17 closed

[2018-11-12 03:51] williamsthing opened #18 "UITapGestureRecognizer in card not working"
I’m trying to add a UITapGestureRecognizer to one of the cards in order to present a modal when the card is tapped, but the recognizer isn’t working.

It works fine when VerticalCardSwiper isn’t being used.

[2018-11-12 09:46] JoniVR commented on #18
Hi @williamsthing

Are you trying to detect a tap anywhere inside a card or for something specific?
The `VerticalCardSwiper` internally makes use of different gestureRecognizers te detect horizontal and vertical swipes and also uses `shouldRecognizeSimultaneouslyWith`, this could possibly interfere with other gesture recognisers, but I'll have to look inside the code to test that.

If you're looki

[2018-11-12 10:33] darnfish commented on #18
Hi Joni,

Thanks for the quick response. I have a UIView inside of the card item that is setup to listen to gesture recognisers. Also is it possible to remove the horizontal swipe gesture recogniser when `isSideSwipingEnabled` is set to false? I have the VerticalCardSwiper in a CollectionView (horizontal) that has paging, and the swipes are ignored by the CollectionView when the gesture takes plac

[2018-11-12 11:12] darnfish commented on #18
Opened a pull request: https://github.com/JoniVR/VerticalCardSwiper/pull/19

[2018-11-12 11:47] #18 closed

[2018-11-13 10:07] iAzaz96 commented on #11
the reload function is not working

[2018-11-13 10:40] JoniVR commented on #11
Hi @iAzaz96

Could you please share your code where you try to reload the data?
It's working fine on the example and I really can't help you when you simply say "it's not working".
Make sure you reload it on the main thread, it should work exactly like a regular `UICollectionView`.

[2018-11-13 10:43] iAzaz96 commented on #11
self.getAllNames {

                self.activityIndicator.stopAnimating()

                print(self.AllahNames[0].Name)

                print(self.AllahNames.count)

                DispatchQueue.main.async {

                    self.cardSwiper.reloadData()

                }

            }

On Tue, 13 Nov 2018 at 15:40, Joni Van Roost <notifications@github.com>
wrote:

[2018-11-14 20:38] JoniVR opened #22 "Swiping away last card on the stack causes the animation to glitch"
### New Issue Checklist

- [x] I updated VerticalCardSwiper to the latest version.
- [x] I read the [Contribution Guidelines](CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Issue Description

When you are at the end of the stack and still have

[2018-11-15 01:06] darnfish commented on #9
I just tested this and it works really well!

[2018-11-15 15:04] marcmora opened #23 "Functionality similar to scrollToItem(at: indexPath) from UICollectionView"
Is there a way i could skip straight to whatever card of the stack? So the user can go back and forth starting from that card.

Thanks!

[2018-11-15 15:11] JoniVR commented on #23
Hi @marcmora

Not officially supported yet, but since the `VerticalCardSwiper` is built with a `UICollectionView`, you can still do it pretty easily.

Here's how it should work:
[code]

You can access the `verticalCardSwiperView` in the appropriate delegate function you're using or just by accessing it through `verticalCardSwiper.verticalCardSwiperView`.

Hope this helps

Kind regards,
Joni

[2018-11-16 14:33] JoniVR commented on #23
I have added this function to the VerticalCardSwiper in the development branch, will be released with the next version. I'm closing this issue for now, feel free to reopen.

[2018-11-16 14:41] Phuzer opened #24 "Number of visible cards on the stack"
Is there anyway I can change the number of visible cards on the stack? The default is 2, the card that is showing and another one behind, and I need more than that. Help would be appreciated.

[2018-11-16 15:52] marcmora commented on #23
Hi @JoniVR thanks for your quick reply!
I did try this before posting the question with no luck... I have now cloned the repo and added the line to the ExampleViewController but still can't make it work. I might be doing something wrong... but there's no much code to mess with...  I added it right after registering the Nib.

[2018-11-16 16:19] marcmora commented on #23
Hi @JoniVR thanks for the quick reply and for **exposing the function**!

I did try to call the `scrollToItem` method from `UICollectionView` before raising the the question but for some reason it didn't work.
Playing around, I've discovered that if call `cardSwiper.scrollToCard(at: 3, animated: true)` from a button it works like a charm!
But if I add it in the `viewDidLoad()` method, like I did i

[2018-11-16 16:21] JoniVR commented on #23
I'll look into it when I get some more time, thanks for bringing it to my attention. 🙂

[2018-11-16 16:27] JoniVR commented on #24
Hi @Phuzer
Currently there isn't really a simple way to do it as far as I'm aware.
I won't say it won't be supported in the future, but currently I want to prioritise other things like a stable release and insert/delete/move etc.

Feel free to take a stab at it and create a PR, but I don't really have time to implement it right now.
I'm sorry.

Best regards,
Joni

[2018-11-16 18:05] Phuzer commented on #24
Ok, thanks for the response. I will try to implement it, do you have any quick suggestion how would you implement it or how it might work?

[2018-11-18 12:32] JoniVR commented on #23
Okay, so here's probably what's causing your issue:

When you call the `scrollToCard` function inside `viewDidLoad`, the underlying `UICollectionView` isn't fully layed out yet. So it won't work that way (this is would be the same when you'd be using a `UICollectionView`), so instead, you should call this function inside `viewDidLayoutSubviews`.

It would look like this in your `UIViewController`:

[2018-11-18 12:37] JoniVR commented on #24
You'd probably have to dive into the code inside the `VerticalCardSwiperFlowLayout` and modify some of the math (probably in `updateCellAttributes`) there and add a variable that we can set so the user can pick whichever amount of visible cards he/she wants.

It's probably also related to how the `UICollectionView` handles cell reuse so if you're unfamiliar with how that works, you might want to l

[2018-11-18 17:55] STAMFORD313 opened #25 "I have problems adding the library to my podfile"
I have problems adding the library to my podfile

- [x] I updated VerticalCardSwiper to the latest version.
- [x] I read the [Contribution Guidelines](CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Issue Description

![captura de pantalla 2018-

[2018-11-18 17:56] darnfish commented on #25
Can you try run `pod repo update` in the project directory?

[2018-11-18 17:57] STAMFORD313 commented on #25
I do not understand

[2018-11-18 17:59] darnfish commented on #25
On the window in the left of your screenshot, type `pod repo update`, press enter, and then try `pod install` again.

[2018-11-18 18:00] STAMFORD313 commented on #25
ok

[2018-11-18 18:05] STAMFORD313 commented on #25
thank you very much is ready, it was missing that, again thank you very much

[2018-11-18 18:06] darnfish commented on #25
No problem!

[2018-11-18 18:10] #25 closed

[2018-11-20 23:55] Phuzer commented on #23
Hello, i'm experiencing a problem with scrollToCard function. For some reason I can't use it to go to the previous card. For example, if the card with index 4 is active, cardSwiper.scrollToCard(at: 3, animated: true) does nothing, but I can use it to move to any other card (index 0, 1, 2, 5 and so on...). Any idea on how to solve this? Thanks in advance.

[2018-11-21 07:26] JoniVR commented on #23
Hi @Phuzer
I'm seeing the same thing. Thanks for letting me know.
I'll look into if further whenever I get some time.

@marcmora Does that solve your specific issue?

[2018-11-21 21:18] JoniVR commented on #23
@Phuzer Ok, so after looking into this a bit further, I think it's a bug that's related to the `updateCellAttributes` function inside `VerticalCardSwiperFlowLayout`.
It only happens when trying to scroll to the previous card.
I'll look into fixing it inside that function, might take some time as I'm currently pretty busy with other stuff.

[2018-11-22 23:06] pcentieiro commented on #23
Hello @JoniVR

I need the option to programatically go to the previous/next card, and as you're already aware, there is a bug in scrollToCard. Therefore, I implemented two methods in ExampleViewController based on scrollRectToVisible:

[code]

[code]

It's a bit fishy, but it works :) I hope it can inspire you to come up with a better solution in VerticalCardSwiper.swift

Thanks for the project ;)

[2018-11-22 23:16] JoniVR commented on #23
@pcentieiro Thanks for posting this!

I've also looked into using the `scrollRectToVisible` method before, it's a great solution for people that want to use it right now.
I'm going to try to fix it in the `updateCellAttributes` function, the line that's causing it is `let finalY = max(minY, maxY)`, so I'm going to try to properly fix it since #22 is related to that function too. Shame that I'm a b

[2018-11-22 23:19] JoniVR commented on #9
@williamsthing Yeah, I'm not sure when I'll merge this to master, I actually wanted to test a bit more in-depth and possibly even add some extra UITests for it with a settings UI in the example, but I'm not sure yet, could also add those in a later version.

[2018-11-24 20:55] JoniVR commented on #23
Ok, so little update, I think I've figured out what the problem is, I commited some updated documentation on `updateCellAttributes` yesterday, which explains how the function works.
Here it is:

Essentially, what's happening is that when try to scroll to the previous card, the `updateCellAttributes` function executes `max(cvMinY, cardMinY)` on both visible cards (focussed and bottom card). In case

[2018-11-26 11:41] pcentieiro commented on #23
Great explanation @JoniVR , thanks :)

The problem lies in the frame generated that is used on scrollToRectToVisible. Here is the one I get when I use index = 0 and I'm at the second card (so only 2 cards in the stack and I want to go back):

[code]

And here is the frame that I generate with the code that I posted before (which scrolls to the previous card with no problem):

[code]

As you can se

[2018-12-03 23:34] VisvaldasG opened #26 "Hiding previous card"
Is there a way to hide a previous card after scrolling up. I have tried to implement `isPreviousCardVisible: Bool = false` both in code and in IB, but previous card is always visible

Thanks!

[2018-12-04 07:41] JoniVR commented on #26
Hi @VisvaldasG

What exactly do you mean with hiding the previous card?

Because for me this is working as intended.
I added the following inside `viewDidLoad()` in the example:
[code]
The variable `isPreviousCardVisible` is meant to hide the card below the focussed card as you can see below:
### `isPreviousCardVisible = true`
<img src="https://user-images.githubusercontent.com/7591717/49425984-5f

[2018-12-04 14:43] VisvaldasG commented on #26
Hi Joni,
sorry it was a mistake, it was a mismatch in settings in IB and in ViewController class…
This problem is solved, thanks for your quick response.

But I have another question. Is the way to make all rejected cards from the bottom to scroll behind not to the front?
Im trying to create some flashcard app and it doesn't make any sense te see the same card behind during the studying when the r

[2018-12-04 19:27] JoniVR commented on #26
Could you clarify this a bit?
I don't think I entirely understand what you mean. Perhaps some pictures or a video or something?

[2018-12-04 20:19] VisvaldasG commented on #26
OK. I'll try with the video.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/15321354/49469837-d31b2b00-f808-11e8-8804-88ff34a76665.gif)

For example. Jon Doe card is always visible. All cards Pamela, Ed, Nicki, Barac and others scrolls on the top of Jon Doe, and it's not accesible until the rest of the cards will finish scroll on the top. Its quite boring to see Joe's card al

[2018-12-05 10:48] JoniVR commented on #26
So if I understand correctly, you want to show no cards behind the focussed card? So when you swipe away a card, only the background is visible?

If that's the case, you could just try disabling scrolling on the `VerticalCardSwiperView`, that way the user won't be able to scroll down and you'll just only see the top card. I don't know if that satisfies your requirements, but that would be the easi

[2018-12-05 12:26] VisvaldasG commented on #26
Would be one of the options. Or cards from the bottom scroll up behind the focussed card.

[2018-12-07 18:39] JoniVR commented on #26
Yeah, if that's what you want to achieve then you probably need to play around with the `updateCellAttributes` function inside the `VerticalCardSwiperFlowLayout.swift` file. On the development branch I recently added a lot of documentation to that function on how exactly it works.

You'll have to look into doing this yourself as this is not something I plan on implementing and it doesn't really im

[2018-12-07 18:39] #26 closed

[2018-12-25 21:10] Lavmint opened #28 "Scrolling empty list causes crash"
### New Issue Checklist

- [x] I updated VerticalCardSwiper to the latest version.
- [x] I read the [Contribution Guidelines](CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Issue Description

Steps to reproduce:
1. return numberOfCards equal to

[2018-12-25 21:23] JoniVR commented on #28
Hi @Lavmint!

Thanks for reporting this bug.
This has been fixed a while ago (in commit ac70a99 of development branch) but isn't released yet, which is why it's still occurring at the moment for you.

I'm currently very busy with other projects and school work so I can't really spend too much time on this project at the moment.

If you really need the fix right now, you can use the following line

[2018-12-25 21:39] Lavmint opened #29 "Strange behaviour of CardCell layout"
### New Issue Checklist

- [x] I updated VerticalCardSwiper to the latest version.
- [x] I read the [Contribution Guidelines](CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Issue Description

Steps to reproduce:
1. Create `UIViewController` and

[2018-12-25 21:54] JoniVR commented on #29
Hi @Lavmint

This is (most probably) due to the `firstItemTransform` property of the custom flowlayout.

Because the card resizes (transforms) once it gets pushed to the background, the contents of the card need to be resized too (this happens at every bounds change, see the `shouldInvalidateLayout` function inside `VerticalCardSwiperFlowLayout.swift`).

So everything is actually working as intend

[2018-12-25 21:54] #29 closed

[2018-12-31 08:41] Jinxiansen opened #30 "How to automatically scroll the third card when entering the page?"
Hello!
I want to scroll to the specified item, but I read https://github.com/JoniVR/VerticalCardSwiper/issues/23 this answer and found that there is no `cardSwiper.scrollToCard` method... 🤔

[2019-01-01 15:22] JoniVR commented on #30
Hi @Jinxiansen

Yes, this function is not yet released, there is a bug that needs to be fixed before I can release it.
If you want to experiment with it or try it out, you should you use the [development branch](https://github.com/JoniVR/VerticalCardSwiper/tree/development).

You can also just use the development branch in your CocoaPods podfile like this:
[code]
There is currently still a problem

[2019-01-02 02:59] Jinxiansen commented on #30
alright, thank you very much!
Looking forward to your release version.

[2019-01-08 10:26] JoniVR commented on #23
I think I've managed to fix it by using `setContentOffset()` and calculating the offset manually. I can't figure out what exactly is causing the issue with `scrollToItem` & `scrollRectToVisible`, but at this point I've wasted enough time trying to find the issue and this works just as well as far as I can tell.

[2019-01-08 11:21] #23 closed

[2019-01-08 11:49] JoniVR commented on #28
Hi, just letting you know that 0.1.0-beta7 will be released in a few minutes, which fixes the issue, so you can just point to that instead of development branch 😊

[2019-01-27 13:40] STAMFORD313 opened #31 "CardSwiper.reloadData () does not work"
CardSwiper.reloadData() does not work

### New problem checklist

- [x] I updated VerticalCardSwiper to the latest version.
- [x] I read the [Contribution Guidelines](CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub problems](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Description of the problem

[2019-01-27 14:10] JoniVR commented on #31
Hi @STAMFORD313

It's pretty hard to help you without seeing your code, so it would be better to add the code that is causing the issue in here.

If you haven't done so already, make sure you call the function on a background thread. UIKit isn't thread safe. Like this:
[code]

<hr>

But this is probably something with your own code and not an issue with the Library as this function does nothing mo

[2019-01-29 07:47] #31 closed

[2019-02-03 11:14] andynadheer opened #33 "Disable scrolling"
Is there a way to disable scrolling to the next card? For instance if tapped the first card, then you are allowed to scroll to next card. After you have scrolled to the second card, you have to tap that card to be able to scroll to third card, etc.

[2019-02-03 12:06] JoniVR commented on #33
So you only want to allow user scrolling by tapping a card if I understand correctly?

[2019-02-03 12:11] JoniVR commented on #33
If that is the case, you can do it like this:

[code]

[2019-02-03 15:36] #9 closed

[2019-02-03 15:38] JoniVR commented on #9
This will be released with the next beta version, I'll probably add some extra UITests and Unit tests and then fix the animation glitch at the end of the stack, when those things are fixed, I'm probably going to release the first non-beta version (0.1.0).

[2019-02-03 15:39] JoniVR commented on #24
Closing for inactive, again, if anyone wants to take a stab at it, feel free to submit a PR or reopen in the future.

[2019-02-03 15:40] #24 closed

[2019-02-03 19:16] andynadheer commented on #33
Yes thank you! 👍

[2019-02-03 19:16] #33 closed

[2019-03-13 02:48] zanyzephyr opened #36 "Value of type 'VerticalCardSwiper' has no member 'focussedIndex'"
### New Issue Checklist

- [x] I read the [Contribution Guidelines](CONTRIBUTING.md).
- [x] I updated VerticalCardSwiper to the latest version.
- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Issue Description

The document shows that:
[code]
But when I use `card

[2019-03-13 11:46] JoniVR commented on #36
Correct, I haven't released a new version that includes this, my bad.
I'll release a new version later today which will include this feature. 🙂

[2019-03-13 15:08] JoniVR commented on #36
Hi @zanyzephyr

Just wanted to let you know I just released version `0.1.0` which should fix this issue for you 🎉
If you're using Cocoapods, make sure to change the line in your podfile to:
[code]

Let me know if it works now 😄

[2019-03-14 01:39] bugaco commented on #36
Hi @JoniVR
Yeah, I'm using Cocoapods, and I upgraded the version to `0.1.0`.
Then, the `focussedIndex` property works well😃.

[2019-03-14 10:34] #36 closed

[2019-03-25 02:10] zanyzephyr opened #37 "Calling `scrollToCard` before the `VerticalCardSwiper` is fully initialized causes a nil crash"
### New Issue Checklist

- [x] I read the [Contribution Guidelines](CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I updated VerticalCardSwiper to the latest version.
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Issue Description
Xcode crashed occasionally:
![image](https://user-ima

[2019-03-25 16:36] JoniVR commented on #37
Hi @zanyzephyr

Could you please tell me in which function you call the `scrollToCard` function?
Do you call it at the beginning?

Would be useful if you could provide some of your code where you call it.
Thanks for the screenshot, always helps.

Kind regards
Joni

[2019-03-26 04:47] bugaco commented on #37
Hi,thank you for replying.
Yeah, I call the `scrollToCard` at the beginning.

But when I do that after a little delay , It works well.
![image](https://user-images.githubusercontent.com/23650458/54972043-96945a80-4fc4-11e9-874e-4b015e11aa9e.png)

[2019-03-26 09:27] JoniVR commented on #37
Hi,

I would recommend not using a delay since that might not always work (depending on how long the device takes to load te code).

The reason why it's crashing is probably because it's being called before the `VerticalCardSwiper` is properly set up (this is one of the annoying limitations of `UICollectionView` but I think I should be able to fix it).
The documentation for `scrollToCard` tells yo

[2019-03-29 07:59] mohit196 opened #39 "Refresh Card View on view resize"
### New Issue Checklist

- [ ] I updated VerticalCardSwiper to the latest version.
- [ ] I read the [Contribution Guidelines](CONTRIBUTING.md).
- [ ] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [ ] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Issue Description

### Environment

- **iOS Version**: [INSERT iOS VERS

[2019-03-29 08:12] mohit196 opened #40 "Allow user to set custom amount of visible cells in background"
I want to display 3 cells at a single point of time.

### New Issue Checklist

- [x] I updated VerticalCardSwiper to the latest version.
- [x] I read the [Contribution Guidelines](CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Issue Description

[2019-03-30 13:02] JoniVR commented on #40
It's something that might be a nice addition to be able to allow the user to set how many cells should be visible.

I currently have some other stuff that I want to prioritize over this, but anyone is welcome to make a Pull Request to implement it :)

[2019-03-30 13:07] JoniVR commented on #39
Do you mean creating height constraints for objects inside the cardView?
I would need some clarification on where exactly you are adding a constraint.
A demo project would be even better.

Are you using the `sizeForItem` delegate function?
Because that function is meant to allow you to change card sizes.

[2019-04-02 08:07] mohit196 commented on #39
I added an NSLayoutConstraint on cardSwiper view height and in didSwipeCardAway, I am updating the height constraint. After updating the cell should opt to new constraints.

I have made some changes to the existing project.

[VerticalCardSwiper-master-2.zip](https://github.com/JoniVR/VerticalCardSwiper/files/3032899/VerticalCardSwiper-master-2.zip)

[2019-04-02 14:09] JoniVR commented on #39
So are you saying that the cards don't adapt their size right away once you swipe one away for the first time?

So does adding the following line:
[code]
below the line where you update the constraint (kind of) fix it for you? (just so I understand what you're talking about)

[2019-04-03 05:54] mohit196 commented on #39
Thanks for update Joni

Use Case:
- Swipe 2-3 cards upward.
- Now Swipe away the topmost card, you will see the issue.

![Simulator Screen Shot - iPhone XR - 2019-04-03 at 11 24 32](https://user-images.githubusercontent.com/22215577/55455883-12188c00-5603-11e9-82f5-f4fd7aca505e.png)

[2019-04-03 11:33] JoniVR commented on #39
Yes, I see it now, alright I'll look into what's causing this sometime when I get the time for it.
If you find a solution yourself in the meantime, feel free to post it here or submit a Pull Request.

[2019-04-03 12:30] #37 closed

[2019-04-08 12:24] hemo87 opened #43 "Help trying to animate cardCell"
I'm trying to animate the cardCell with a basic flip animation, this works perfectly with UICollectionView.

https://github.com/hemo87/ExampleAnimation

But the same code with this library just won't work, it refuses to do the animation, as shown here.

https://github.com/hemo87/ExampleWithVeticalCardSwiper

Im assuming this is a bug as I'd expect it to still behave like UICollectionView?

[2019-04-08 19:21] JoniVR commented on #43
Hi @hemo87

It should work as it is in fact a `UICollectionView` underneath it.
Could always be some conflicting things of course.

I tried the example project in your Github link but the project looks empty to me, am I missing something? An example project would be ideal to help you out.

Kind regards,
Joni

[2019-04-09 06:44] hemo87 commented on #43
Thanks for the reply @JoniVR  not sure why they’re empty. I’ll re push them today

[2019-04-09 06:59] hemo87 commented on #43
I’ve quickly re pushed it. Should be working now.

[2019-04-09 14:37] JoniVR commented on #43
Found the issue, will be pushing a bug fix soon and a release later :)

[2019-04-09 19:12] JoniVR commented on #37
Just letting you know that version 1.0.0 has been released which fixes this issue 😉

[2019-04-09 19:12] JoniVR commented on #43
Just letting you know that version 1.0.0 has been released which fixes this issue 😉

[2019-04-11 08:52] bugaco commented on #37
Yeah, I update it to 1.0.0,  and remove the `0.2 delay`, now it works well👍🏿

[2019-04-11 12:40] JoniVR commented on #39
Hi @mohit196

Quick question, did you try my previous solution?

If I call `cardSwiper.layoutIfNeeded()` after changing the constraint value it looks like it works to me?

[code]

[VerticalCardSwiper-master-2.zip](https://github.com/JoniVR/VerticalCardSwiper/files/3068611/VerticalCardSwiper-master-2.zip)

[2019-04-15 08:08] mohit196 commented on #39
Yes, and the issue still exists.

I tried:
cardSwiper.layoutIfNeeded()
and
cardSwiper.verticalCardSwiperView.layoutIfNeeded()

[2019-04-23 11:06] jinios opened #44 "Can I off the animation when the previous card goes behind?"
### New Issue Checklist

- [x] I updated VerticalCardSwiper to the latest version.
- [x] I read the [Contribution Guidelines](CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Issue Description
Can I off the animation when the previous card goes b

[2019-04-29 18:13] JoniVR commented on #44
Do you mean this?
 ![example](https://user-images.githubusercontent.com/7591717/56917160-0e214200-6abb-11e9-9155-75df39783347.png)

[2019-05-02 11:39] sevgjan opened #45 "Multiple CardCell Types?"
Is it possible to have multiple types of Cards?

[2019-05-02 11:57] #45 closed

[2019-05-04 14:37] sevgjan opened #46 "Reverse approach of cards stack?"
Is there a possibility to reverse the approach, like have a stack of cards and then either swipe left/right or just scroll card to bottom, and swipe up if you want to bring back the scrolled card?

[2019-05-04 17:16] JoniVR commented on #46
Hi @sevgjan

I'm not sure I understand what you're trying to say?
Do you mean the "next visible card" at the top?

Like this? (just flipped it as an example)

![Screenshot 2019-05-04 at 19 13 58](https://user-images.githubusercontent.com/7591717/57182572-dcd0b980-6ea0-11e9-9cd0-46d3b81e82b8.png)

Please share some more detail.

Best Regards,
Joni

[2019-05-04 18:52] sevgjan commented on #46
Hi @JoniVR
Thanks for a quick reply.
What I mean is similar to Tinder approach but with possibility to scroll down a card. Basically there is no next visible card, neither top or bottom, cards are only in a stack, but you can either vote or just scroll the stack.

If I'm not clear enough let me know, I will try to demonstrate with some sketches.

Best regards,
Sevgjan

[2019-05-04 19:17] JoniVR commented on #46
So basically starting from the bottom?

A bit like this?
![RPReplay_Final1556996155](https://user-images.githubusercontent.com/7591717/57183583-7606cc80-6eaf-11e9-8f8b-9b5f715a285a.gif)

You can start off at the bottom by using
[code]
To scroll to the bottom of your stack (without animation) at first launch, make sure to call it in the correct place as described inside the documentation of the cal

[2019-05-04 19:26] JoniVR commented on #44
If that is what you mean, try:
[code]

As described in [the properties section of the readme](https://github.com/JoniVR/VerticalCardSwiper#properties).

Best regards,
Joni

[2019-05-04 20:23] sevgjan commented on #46
Don't worry, you helped more than enough. I have to check about adding more items and pagination implementation in this case, but I will try to do some tweaking and if I'm able to achieve what I want, I will let you know.

Thanks a lot again.

[2019-05-04 20:23] #46 closed

[2019-05-04 21:29] JoniVR commented on #46
Best of luck!

[2019-05-10 05:55] jinios commented on #44
Thanks a lot, I read it but I couldn't notice that was an enable/disable property for the previous card fading animation. I appreciate you develop this library and also your quick feedback.
I will close this issue :)

Regards,
Mijin

[2019-05-10 05:55] #44 closed

[2019-06-21 13:05] #40 closed

[2019-06-26 13:16] GianDiapason opened #49 "Method func didSwipeCardAway not called"
### New Issue Checklist

- [x] I updated VerticalCardSwiper to the latest version.
- [x] I read the [Contribution Guidelines](CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Bug Description
In spite cardSwiper.delegate is set to self correctly,

[2019-06-26 13:44] JoniVR commented on #49
Hi @GianDiapason!

I'm not seeing an issue with these functions in the example app.
Did you try testing it in the example?

Are you inheriting from `CardCell` for your cards? Is the delegate hooked up before you're trying to swipe away?
There are lots of factors that can cause this, but I don't think it's a project specific issue but rather a bug in your code somewhere. Try going over the example

[2019-06-27 07:17] GianDiapason commented on #49
Hi JoniVR,
I found the problem and solve it. It was due to an active map (can be zoomed and scrooled) contained in the card.
Sorry for the inconvenience

[2019-06-27 09:03] #49 closed

[2019-07-02 10:52] DhavalUmraliya opened #50 "Can i set transperent view above the right or left selection?"
I want to set the view on left or right swipe. in short  i need to differentiate like and dislike with Above view

[2019-07-02 11:01] JoniVR commented on #50
Hi @DhavalUmraliya

If I understand your question correctly you should be able to do this using the `didDragCard` function from the `VerticalCardSwiperDelegate`.

Then you can add your own subview on top of the card to show the like or dislike view how you want it. See the [VerticalCardSwiperDelegate documentation](https://github.com/JoniVR/VerticalCardSwiper#delegation).

[2019-07-02 13:53] ranudhurandar opened #51 "How to stop left and right swipe of the card?"
### New Issue Checklist

- [ ] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Question

[2019-07-02 13:58] JoniVR commented on #51
You can use `isSideSwipingEnabled` for that (property of `VerticalCardSwiper`. See the [documentation](https://github.com/JoniVR/VerticalCardSwiper#properties).
![image](https://user-images.githubusercontent.com/7591717/60518591-1592e080-9ce2-11e9-8595-857cc262c7bc.png)

[2019-07-02 13:58] #51 closed

[2019-07-02 14:15] #50 closed

[2019-07-02 14:30] ranudhurandar commented on #51
Thanks alot

On Tue, 2 Jul, 2019, 7:28 PM Joni Van Roost, <notifications@github.com>
wrote:

[2019-07-03 14:08] ranudhurandar commented on #2
Would it be possible for me to swipe to previous Viewcontroller while swiping the card  from left -> right. As I have three VC in sliding manner and the VerticalCardSwiper is implemented in the middle VC , after this implementation i am unable to swipe to previous VC. Help

[2019-07-03 14:30] JoniVR commented on #2
I don't really understand what you're trying to say.. The VerticalCardSwiper is essentially a `UIView` with a `UICollectionView` inside it.
So it behaves in the same way. All the other stuff depends on your implementation.
I can't really help you with that.

[2019-07-03 14:40] ranudhurandar commented on #2
Actually I have implemented this view in the middle view controller among
three...when I swipe to right side in middle View controller with
uigesturerecognizer , it didn't swipe to the first view controller like in
Pagination.

On Wed, 3 Jul, 2019, 8:00 PM Joni Van Roost, <notifications@github.com>
wrote:

[2019-07-03 14:52] JoniVR commented on #2
I'm assuming that the paged viewcontrollers are using a gesturerecognizer too?
They're probably interfering with each other, you can see how `VerticalCardSwiper` handles this [here](https://github.com/JoniVR/VerticalCardSwiper/blob/f7f5ddf6156b7a2a0f627acbcf38908d6079bf26/Sources/VerticalCardSwiper.swift#L252).

My guess is that you'll need to do the same thing with your code. Make sure you set `c

[2019-07-03 14:54] ranudhurandar commented on #2
Thank you so much..I appreciate your help.

On Wed, 3 Jul, 2019, 8:22 PM Joni Van Roost, <notifications@github.com>
wrote:

[2019-07-05 11:58] Harryjeffs opened #52 "[Question] How to stop backwards scrolling?"
### New Issue Checklist

- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Question
Is there a method for only scrolling down rather than allowing scrolling both ways? Disabling the last card just swiped to be visible again? Cheers

[2019-07-05 12:03] JoniVR commented on #52
Hi @Harryjeffs

I can't think of a way to do this with the current API,
but keep in mind that this is entirely built with a `UICollectionView`, which in turn uses a `UIScrollView` internally, so you should be able to override the behaviour yourself.

The structure is:
`VerticalCardSwiper` is a subclass of `UIView`, which embeds a `UICollectionView` subclass called `VerticalCardSwiperView`.

So whi

[2019-07-05 12:05] Harryjeffs commented on #52
I found the use of `PanDirection` which includes a down variable. I'll have a look and if I have any luck, make a PR.

[2019-07-05 12:40] ranudhurandar opened #53 "how to call --> let cell = self.tableView.cellForRow(at: indexPath) as! UITableViewCell for VerticalCardSwiper"
### New Issue Checklist

- [ ] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [ ] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Question

[2019-07-05 12:40] ranudhurandar opened #54 "[Question] How to hide a view inside ExampleCardCell when tapping on a specific cell?"
### New Issue Checklist

- [ ] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [ ] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Question

[2019-07-05 12:47] ranudhurandar commented on #54
I want to hide a view present in ExampleCardCell according to the tapgesture on particular cell. I have tried using didTapCard() method but failed so implemented:

[code]

I want to access cell.bottomView for selected index.

[2019-07-05 12:48] #53 closed

[2019-07-09 06:36] DhavalUmraliya opened #55 "How to Set View and image while card is swipe right or left. i tried but i can'nt set properly after the swipe direction none. please help me to solve out this problem"
How to Set View and image while card is swipe right or left. i tried but i can'nt set properly after  the swipe direction none. please help me to solve out this problem.

[2019-07-10 10:54] nick70007 opened #56 "[Question] How do I flip a CardCell?"
### New Issue Checklist

- [ ] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [ ] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Question

[2019-07-10 11:03] JoniVR commented on #56
Hi @nick70007

I don't mean to be rude but I'm pretty sure you can find this answer on Google. This library is built with a `UICollectionView` and `CardCell` inherits from `UICollectionViewCell`.

Please use Google (or any other search engine) to find your answer as it's not library related and I'm not your personal programmer/research person. If you run into additional issues that are related to

[2019-07-10 11:04] #56 closed

[2019-07-10 11:08] JoniVR commented on #55
Please provide more info on what is happening. I can't help you if you don't provide any code or describe the issue clearly.

[2019-07-10 11:12] JoniVR commented on #54
Hi,
I updated your title to better reflect your question I think?
So if I understand correctly, you want to hide a view inside of a `CardCell` once the user taps on that cell, but the tap isn't being received?

[2019-07-10 11:13] ranudhurandar commented on #54
That's true.

On Wed, 10 Jul, 2019, 4:42 PM Joni Van Roost, <notifications@github.com>
wrote:

[2019-07-10 11:17] nick70007 commented on #56
hello sir, but just want to ask is there any method in this library through which i can flip the card cell?

[2019-07-10 11:18] nick70007 commented on #56
ok related to this library, when i run the app the card is displayed but one after another, is there any settings in this library so that all the cards initially are behind each other

[2019-07-10 11:19] nick70007 commented on #56
![Simulator Screen Shot - iPhone 8 - 2019-07-10 at 16 48 56](https://user-images.githubusercontent.com/52743988/60965121-a9902800-a332-11e9-838d-9fedb752f4f4.png)
its looking like this

[2019-07-10 11:19] JoniVR commented on #54
This code does **not** hide a view. See the [hidden](https://developer.apple.com/documentation/uikit/uiview/1622585-hidden) property.

~Furthermore, I would not use a separate `UITapGestureRecognizer` for this.
Use `handleTap(sender: UITapGestureRecognizer)` and then use `sender.location(in: <ViewYouWantToDetect>)` see [this](https://stackoverflow.com/a/41674755/6863743).~

[2019-07-10 11:19] nick70007 commented on #56
i want it to be one after another like in tinder

[2019-07-10 11:40] JoniVR commented on #56
You can use the `didTapCard` delegate method to detect a cell tap (as indicated in [the documentation](https://github.com/JoniVR/VerticalCardSwiper#delegation)) and then flip the card yourself, you can find on the internet on how to flip a `UICollectionViewCell`.

No this is not possible and is not what this library tries to do, use another library like [tispr-card-stack](https://github.com/tispr/

[2019-07-10 11:45] JoniVR commented on #52
I'm not sure if `PanDirection` will be what you need here. Sure, you could perhaps use it, but there are probably better solutions.

Any update on this? Did you find out how to do it?
(just so I can close the issue if you found it already or try helping you out if not)

[2019-07-10 13:00] Harryjeffs commented on #52
I eventually opted for finding the vertical scroll direction and disabling scrolling in that direction. I'll make a pull request once I can find the time to tidy it up. Cheers.

[2019-07-10 13:00] #52 closed

[2019-07-10 13:09] JoniVR commented on #52
You don't really have to tbh, it's good to know the solution in case anyone else want to achieve the same thing though, Glad you found it ;)

[2019-07-10 22:53] sevgjan opened #57 "[Question] How to check properly if CardCell subview is visible?"
Hi,
I have a AVPlayerLayer in CardCell, and when I check different approaches like if the AVPlayerLayer is visible, I get true even if the CardCell is not on top of stack, but behind another card (ex. ImageCardCell).

I would like to pause the video when CardCell goes back when scrolling, but I always get value true or a full height when I check in didEndScroll if the AVPlayerLayer is visible. Is

[2019-07-10 22:57] JoniVR commented on #57
Hi @sevgjan!

If I understand your question correctly, you should be able to use the `focussedCardIndex` property of `VerticalCardSwiper` to determine which Card is on top. So any card that is not the `focussedCardIndex` will have a paused video.

[2019-07-10 23:05] sevgjan commented on #57
Hi @JoniVR

But for example, if I would like to check visible height of CardCell subview in the visibleCells method, is it possible, because I always get the full height for all of the visibleCells?

_I use a custom protocol that needs to be adopted by subclass of any UIView that wants to play video and in visibleCells method I check some visibleVideoHeight attribute when loop in cardSwiper.visibl

[2019-07-10 23:10] JoniVR commented on #57
Theoretically that should be possible, could you provide a code snippet on how you're trying to do this? (just the visibleCell part)

[2019-07-11 14:08] sevgjan commented on #57
Sorry for late reply,
I'm using this library https://github.com/ashish0309/AutoVideoPlayer
I modified it for collectionView, and in the part where it checks if videoLayer is visible, it's true even if the CardCell is behind another CardCell.

Thanks for your help @JoniVR

[2019-07-11 14:24] JoniVR commented on #57
As I said before, use `focussedCardIndex`. You can't expect me to support a property from a different library..... Even then, I think you're completely misunderstanding how to use the library in question too.

In their own README.md they use this line:
[code]
Which essentially sets the videolayer hidden if there is no videoURL.

Use something like
[code]

The videoLayer's `isHidden` property from

[2019-07-11 14:24] #57 closed

[2019-07-13 11:46] JoniVR commented on #54
After reading this again I realised that this suggestion was wrong as `handleTap` is only used internally and not exposed to the api.

You should still be able to use `didTapCard` for what you're trying to do though (if it's only detecting if a specific cell was tapped). Make sure you set the `VerticalCardSwiperDelegate` though, otherwise it won't work, like in the example code:
[code]

I'm sorry

[2019-07-24 21:28] #54 closed

[2019-08-14 04:34] AmandeepTMSFalcon opened #58 "[Feature Request] Ability to set custom Swipe Percentage Margin"
Now when I swipe 20-30% then card goes to left and right. But I want ratio of 5%. When I just swipe 5% then card should be goes to left and right.
Where I need to change ?????

[2019-08-15 16:14] JoniVR commented on #58
Currently this is not implemented in the API yet, but I might add this in a future version.

If you want to modify the behaviour in your own project, you need to change the `swipePercentageMargin` variable found here:https://github.com/JoniVR/VerticalCardSwiper/blob/45a4c3bf7686b1e7496040d5d510f30bcdd372ae/Sources/CardCell.swift#L91

Feel free to implement it yourself in a PR if you don't want to

[2019-08-16 04:27] AmandeepTMSFalcon commented on #58
I changed this also but no getting any effect on the swipe margin percentage.
I update this to
let swipePercentageMargin = self.bounds.width * 0.1

And if I commented endedPanAnimation() function then code is also working.
I don't know where I am doing something wrong.
Please correct me also.

[2019-08-16 09:58] JoniVR commented on #58
This is weird because when I comment that line out it does break the code:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/7591717/63159928-d95ed980-c01c-11e9-88fa-35f22075a4ab.gif)

Maybe you're still testing the old build on accident? Try cleaning your build folder perhaps?

[2019-08-19 04:37] AmandeepTMSFalcon commented on #58
Thanks JoniVR. The problem was with cache.

[2019-08-20 12:25] AmandeepTMSFalcon commented on #58
Hello JoniVR,

I am unable to reload the number of cards and cellForItemAt.
I am doing code like:
let mainCard:VerticalCardSwiper!
Then
mainCard.reloadData()

This is not working. Please help me to sort out this.

[2019-08-28 04:06] #58 closed

[2019-09-03 09:57] EternalChildren opened #59 "[Question] how to forbid the sliding gestures in subview"
### New Issue Checklist

- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).
- [x] I searched Google for a solution to my issue if applicable.

### Question

i have a view struct likes
[code]
i try to control the cell gesture, hope to forbid the sliding up or down. then i

[2019-09-03 11:34] JoniVR commented on #59
Have you tried using `cardSwiper.verticalCardSwiperView.isScrollEnabled = false`?
Or are the gesturerecognizers interfering?

[2019-09-04 01:41] EternalChildren commented on #59
i have solve it by the below way
[code]
But i am sure it's the best way because it should set isScrollEnabled = true lots of times
what's the gesture recognizers interfering?

[2019-09-09 10:54] #59 closed

[2019-10-24 13:23] MateuszW13 opened #60 "[Question] Change speed of scrollToCard method"
### New Issue Checklist

- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).
- [x] I searched Google for a solution to my issue if applicable.

### Question

Is it possible to slow down the animation of scrollToCard(index:animated) method ?
I was trying to slow it done wi

[2019-10-24 20:56] JoniVR commented on #60
The reason why it probably doesn't do anything is because `cards.count` probably is out of bounds (zero based index in array so you have to do `cards.count - 1`, the underlying function actually checks for this and will not scroll if you're out of bounds.

That said, if you use it with `UIView.animate` it currently seems to be very buggy... like this:

![ezgif com-video-to-gif](https://user-images

[2019-10-25 06:20] MateuszW13 commented on #60
Yup, I came to this point as well. Is there any other way to reduce this animation speed or fix the buggy part ?

[2019-10-25 10:12] JoniVR commented on #60
Apparently, using `UIView.animate()` doesn't work properly on a normal collectionview either. It has something to do with cell creation. Also, setting the animated parameter to false also doesn't execute the actual animation code, which is probably what's happening here.

Have you tried wrapping it inside a `CATransaction`?
See this comment here:
https://stackoverflow.com/a/16693712/6863743
It's i

[2019-11-07 06:34] MateuszW13 commented on #60
I have tried this solution as well and still it is not working :(

[2019-12-13 00:28] bizlal opened #61 "Animate card on button press [Feature]"
It would be cool if we could animate the card off the screen based on a button press. If anyone has done this already, please help.

This would be kind of like scrollToCard.
### New Issue Checklist

- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Is your feature

[2020-01-10 09:52] caosuyang opened #62 "[Bug] [UICollectionView] Invalid update: invalid number of items in section 0."
[28933:533995] [UICollectionView] Invalid update: invalid number of items in section 0.  The number of items contained in an existing section after the update (20) must be equal to the number of items contained in that section before the update (20), plus or minus the number of items inserted or deleted from that section (0 inserted, 1 deleted) and plus or minus the number of items moved into or o

[2020-01-10 12:59] JoniVR commented on #62
If you swipe away an item, you need to delete it from your datasource too. Search this issue on stackoverflow. It happens on a collectionview too. Also, check the example code. I'm assuming that's what's going wrong. Unless you provide me with more details.

[2020-01-16 16:44] JoniVR commented on #62
Hi @caosuyang
Did you resolve the issue?

[2020-01-22 12:55] #62 closed

[2020-01-27 17:01] JoniVR commented on #61
Forgot to reference the issue in the commit, it's been implemented in 1ee6c5b :)
I'll try to release a new version soon but I was actually planning on testing some more stuff before that.

If you want to add it right now you could modify your podfile line to something like:
[code]

[2020-01-31 15:11] JoniVR commented on #61
Version `2.1.0` has been released which includes the `swipeCardAwayProgrammatically` function! 🎉

Closing this now 😄 let me know if you happen to run into any issues with it.

[2020-01-31 15:11] #61 closed

[2020-02-04 20:56] pracki93 opened #64 "Next card shown after swiping focused card"
When isStackOnBottom is set to false, I scroll to the last card so I simulate the stack of cards from top and then either score left/right or just skip the card. But if there are cards on bottom and I swipe the focusedCard, card from bottom comes up. Is it possible to change this to when I swipe a card the next card scroll from the top?

[2020-02-08 11:02] JoniVR commented on #64
Not currently, what you're currently doing (if I understand correctly) is relying on a bug (#22) to get the behaviour you want. It might be something we could add in the future, but would probably require quite a bit of work and testing to do it right.

[2020-02-21 21:32] JoniVR opened #65 "Run CI UITests in parallel to decrease duration"

[2020-02-22 00:30] JoniVR opened #66 "Migrate to different CI/CD Platform"
Github Actions?
CircleCI?

[2020-02-22 18:08] #65 closed

[2020-02-22 18:08] #66 closed

[2020-02-27 22:25] tracknemo opened #68 "How do I prevent my view controller from loading twice when I use the didDragCard function?"
### New Issue Checklist

- [ x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x ] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).
- [ x] I searched Google for a solution to my issue if applicable.

### Question
Hi, I am overriding the **didDragCard** method and I essentially want a custom view controller I created to disp

[2020-02-27 23:01] JoniVR commented on #68
Hi,

This is intended behaviour. The `didDragCard` method is called while you're dragging a card, so it's supposed to be called repeatedly.

Depending on what you want to achieve exactly, you could either use the `willSwipeCardAway` or `didSwipeCardAway` delegate method or simply disable side swiping after the first call of `didDragCard` (`cardSwiper.isSideSwipingEnabled = false`).

I could perhap

[2020-02-27 23:10] tracknemo commented on #68
I agree that using the ** willSwipeCardAway** or **didSwipeCardAway** functions will ensure that the card is only being dragged once, although the issue is that I still want the card to be available after swiping left. This way, once the user is done viewing the new view controller that swiping a card produces, he/she has the ability to go back and view the card they swiped on.

[2020-02-27 23:28] JoniVR commented on #68
Makes sense, do you have any suggestions? Perhaps we could add an extra `didDragCard` delegate method that returns a `dragOffset` indicating how far the card is relative to the center? Of course you'd still need to disable swiping after reaching the offset you need..

[2020-02-27 23:48] tracknemo commented on #68
Hmm...I think that is a good idea. Although, when would I as a developer know where to re-enable swiping once the card is visible again?

[2020-02-27 23:56] JoniVR commented on #68
You'd want to re-enable it when you dismiss the new ViewController right? Plenty of ways of doing that, you could use a delegate callback or notification (observer) to re-enable it once you dismiss the viewcontroller for example.

[2020-03-11 19:10] james-ff opened #69 "[Feature] Swipe without removing the item from the list"
### New Issue Checklist

- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Is your feature request related to a problem? Please describe.
If I do not remove the swiped item from the datasource an error occurs

[code]

### Describe the solution you'd like
I would li

[2020-05-19 11:39] andynadheer opened #70 "Lower the opacity for the stacked cards"
Is it possible to make the stacked cards less visible while the main card has full opacity? See example:
<img width="260" alt="Skärmavbild 2020-05-19 kl  13 38 45" src="https://user-images.githubusercontent.com/5514862/82322024-1dc93c80-99d6-11ea-93c9-63d048142e29.png">

[2020-05-19 12:00] JoniVR commented on #70
Great idea

[2020-05-19 12:22] andynadheer commented on #70
At the moment only the last stacked card gets lower opacity if stackedCardCount is set to higher than 1:
<img width="333" alt="Skärmavbild 2020-05-19 kl  14 17 39" src="https://user-images.githubusercontent.com/5514862/82325813-1d33a480-99dc-11ea-8e2c-801308234196.png">

[2020-07-05 17:36] alobanov11 commented on #69
Hi @james-ff, I had the same error. It was a stupid mistake:

[code]
I just removed didSet and it worked.

[2020-07-30 12:50] kishancm opened #71 "How can I access ExampleCell outside of cardForItemAt method."
Currently I am using this repo for show and play video player  in Cell and video is automatically play.
But problem is that when I am going to another tab video is still player on ExampleCell.I want to stop video player so how can I access cell outside CardForItemAt method and handle my issue ?

Thanks

[2020-08-05 11:50] veersr9 commented on #71
@kishancm  have you get any solution for this. I am so stuck with this . ?

[2020-08-06 05:15] veersr9 opened #72 "Stop Left Swipe || Increase Card Size"
How do I stop only left swipe. If I am doing this ->

func willSwipeCardAway(card: CardCell, index: Int, swipeDirection: SwipeDirection) {

        switch swipeDirection{
        case SwipeDirection.Right:
            if index < arrayHome.count {
                arrayHome.remove(at: index)
            }
        default:
            print("do nothing because be we didn't drag left")
        }
    }

[2020-08-06 13:43] kishancm commented on #71
@veersr9  Have you find any solution for stop video player in background ??

[2020-08-06 20:02] JoniVR commented on #71
Hi, there is no direct API access for this provided yet but you can just use:
[code]
because `VerticalCardSwiper` is built on top of `UICollectionView`. I'll expose this as an API call in a future version.

[2020-08-06 20:12] JoniVR commented on #72
I don't think there's a way to block a swipe to either side as of yet. What exactly are you looking for? Should the card just animate back or not move in that direction at all?

As for increasing the card size, you can use `sizeForItem` or change the `topInset` and `sideInset` properties.

[2020-08-06 20:18] JoniVR commented on #69
Do you want the card to swipe away without having to update the datasource to reflect this? Or just block the card from swiping away?

To me personally it seems weird to want your datasource out of sync with the actual displayed data, I think this is why Apple does this too? I'm just forwarding the `UICollectionView` for the most part anyways.

[2020-08-06 21:31] james-ff commented on #69
Blocking the card from swiping away matches my intent here.
- The idea being that swiping one direction could remove an item, and swiping the other would bring up a confirmation view.
- The card would then slide back into position while a confirmation view appears and stay there if cancelled
- In the case of confirmation the card could then be removed programmatically

Hope that clarifies it. In t

[2020-08-07 07:05] sevgjan commented on #69
Hi @james-ff ,
I was able to achieve this by modifying `internal func didSwipeAway` method in VerticalCardSwiper.swift class, from:

[code]

to:
[code]

Hope this helps.

[2020-08-26 05:21] ankit01217 opened #73 "[Bug] Adding multiple card sizes doesn't snap card correctly"
### Bug Description
Card Swiper doesn't snap card swipe correctly when we provide different sizes for cards using
[code]

### To Reproduce
Steps to reproduce the behavior: Following steps are for ExampleViewController in project

1. Update contactsDataSource to add size for each item
e.g.
[code]
2. Add custom size for cells using delegate method
[code]
3. Run project and notice, it takes size as e

[2020-08-26 05:37] ankitpate1 commented on #73
![Screen Recording 2020-08-25 at 10 37 02 PM](https://user-images.githubusercontent.com/1543007/91259547-981b0280-e723-11ea-83be-15f3576b87ad.gif)

[2020-09-04 23:31] elfanek commented on #73
@JoniVR any ideas on how to add support for cells with multiple heights?

[2020-09-14 14:14] Proudspark opened #74 "[Bug] Losing cards from stack when device orientation is rotated"
### New Issue Checklist

- [x] I updated VerticalCardSwiper to the latest version.
- [x] I read the [Contribution Guidelines](CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Bug Description
Changing device orientation to landscape removes some c

[2020-09-14 14:59] Proudspark opened #75 "[Question] How do I use a button on this card to launch a new ViewController>"
### New Issue Checklist

- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).
- [x] I searched Google for a solution to my issue if applicable.

### Question

A method I'm using on other ViewControllers no longer works when I attempt to use the method from the CardCell cla

[2020-09-14 22:23] JoniVR commented on #75
`CardCell` subclasses from `UICollectionViewCell`, so just like you would with a `UICollectionViewCell`. I would create either a delegate or closure for callback in this case (same way you would with `UICollectionViewCell`)

[2020-09-14 22:32] JoniVR commented on #74
I'm not sure I fully understand you here, do you mean some cards are actually missing or are they just scrolled away?

From my testing on the example project I can indeed see that when you rotate to landscape the focussedItem is "lost" and the offset is incorrect, is that what you mean?

[2020-09-14 22:34] JoniVR commented on #73
It's not currently supported as I didn't consider it, feel free to open a Pull request though :)

[2020-09-15 07:11] Proudspark commented on #74
Here is a video which may help to explain issue a little better 8•)

https://vimeo.com/458047406

[2020-09-15 12:37] JoniVR commented on #74
I'm not sure if that's a bug with the library, when I modify the Example project to show the index instead of the age in the demo cards this does not happen as far as I can tell.

It does however end up on a different index which might be the underlying issue, are you doing anything special with your indexes?

Here's a modified example project which doesn't do this (I just replaced the age with in

[2020-09-29 13:31] milan-galitein opened #77 "How to preview card(cell) reload?[Question]"
### New Issue Checklist

- [ ] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [ ] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).
- [ ] I searched Google for a solution to my issue if applicable.

### Question

[2020-09-30 17:31] JoniVR commented on #77
I'm not entirely sure what the question is.. Can you provide some more details? Use a video or screenshot if you're having trouble describing it 🙂.

[2020-10-01 05:19] milan-galitein commented on #77
resolve my issue

[2020-10-01 05:19] #77 closed

[2020-10-04 12:54] JoniVR commented on #74
Any update on this?

[2020-11-03 22:18] IDontEatMeat opened #78 "[Bug] `isStackOnBottom` and `stackedCardsCount` not working on 2.3.0"
Bottom stacking won't work anymore with 2.3.0. I had to downgrade after wasting 3 hours not knowing what is going on. If someone else encounters this issue it is because of the new version. stackedCardsCount and isStackOnBottom have no effect whatsoever.

[2020-11-03 22:19] IDontEatMeat commented on #78
Bottom stacking won't work anymore with 2.3.0. I had to downgrade after wasting 3 hours not knowing what is going on. If someone else encounters this issue it is because of the new version. stackedCardsCount and isStackOnBottom have no effect whatsoever.

[2020-11-05 17:16] JoniVR commented on #78
Hi, you are correct, I've discovered the issue was introduced in #76, will work on a fix.

[2020-11-05 20:47] IDontEatMeat commented on #78
Thanks, great project btw 👍

[2021-01-02 11:17] stfnhdr commented on #78
fixed issue in PR  #79

[2021-01-02 17:54] IDontEatMeat commented on #78
awesome thanks

[2021-01-12 21:20] IKorabel opened #80 "How can I change the size of card view?"
Hello, it could be stupid question. How can I change the size of the card view?

[2021-01-12 21:22] JoniVR commented on #78
This is now fixed in the new release, thanks @stfnhdr for opening a PR and @IDontEatMeat for reporting!

[2021-01-12 21:22] #78 closed

[2021-01-12 21:24] JoniVR commented on #80
Hi,

You can implement the `sizeForItem` method of `VerticalCardSwiperDelegate` or change the `topInset` and `sideInset` properties as mentioned in the readme.

[2021-01-12 21:25] #75 closed

[2021-01-12 21:27] #80 closed

[2021-01-26 05:06] alamodey commented on #74
How do you maintain your cards centered even rotated to landscape? My stack moves into a corner.

[2021-01-26 05:07] alamodey commented on #70
Great idea indeed, is there going to be an update for this option?

[2021-01-26 09:47] Proudspark commented on #74
@JoniVR - hi there, I saw it working as expected in the modified example you gave. So still need to figure this one out...

@alamodey - this centering is done with setting constraints on storyboard 👍

[2021-01-26 11:09] alamodey commented on #74
Do you mind elaborating what setting you are applying, as my view already takes up the whole screen but it's just the cards that are off-center.

<img width="972" alt="Screen Shot 2021-01-26 at 10 07 58 pm" src="https://user-images.githubusercontent.com/55496019/105837668-22dd9180-6023-11eb-9c05-c750ebd56455.png">

[2021-01-27 08:15] #72 closed

[2021-01-27 13:10] alamodey opened #82 "[Bug] Toolbar won't respond"
### New Issue Checklist

- [x] I updated VerticalCardSwiper to the latest version.
- [x] I read the [Contribution Guidelines](CONTRIBUTING.md).
- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Bug Description
When I add a Toolbar, the buttons don't respond. But th

[2021-01-31 03:53] #82 closed

[2021-02-18 11:26] alamodey opened #83 "How do you disable vertical scrolling?"
If I want to just enable left and right swiping but not scrolling between cards, is there a way to do that?

[2021-04-18 12:39] #83 closed

[2021-05-23 09:59] hyo961015 opened #84 "[Question] I want to modify the alpha value according to the scroll ratio when scrolling cell"
### New Issue Checklist

- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).
- [x] I searched Google for a solution to my issue if applicable.

### Question

Hi, I'm Jang..
I have been trying to solve this problem for 3 days.
Even if I tried to read a document, issue page

[2021-05-23 10:45] #84 closed

[2021-05-23 14:10] JacksonJang opened #85 "[Question] I have a problem when scrolling, the view behind it overlaps."
### New Issue Checklist

- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).
- [x] I searched Google for a solution to my issue if applicable.

### Question

How can I fix the overlapping phenomenon?
I've tweaked, searched, and looked up on this problem several times, but

[2021-09-18 06:59] o1xhack opened #86 "[Question] Current and Next cell with different size."
### New Issue Checklist

- [x] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [x ] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).
- [x ] I searched Google for a solution to my issue if applicable.

### Question

So the whole view will always have 2 cell, one is the current focused one and another is next one.
I want to cur

[2021-09-23 08:52] o1xhack opened #87 "MJRefresh failed to refresh."
### New Issue Checklist

- [ x] I updated VerticalCardSwiper to the latest version.
- [x ] I read the [Contribution Guidelines](CONTRIBUTING.md).
- [x ] I read the [documentation](https://github.com/JoniVR/VerticalCardSwiper).
- [ x] I searched for [existing GitHub issues](https://github.com/JoniVR/VerticalCardSwiper/issues).

### Bug Description
Describe the bug in detail.

### To Reproduce
Steps

[2021-12-14 18:01] JoniVR commented on #87
This doesn't seem to have much to do with the codebase.. if you can provide a demo project that shows the issue is with VerticalCardSwiper, let me know and I'll reopen the issue.

[2021-12-14 18:01] #87 closed

[2022-01-03 20:33] #85 closed

[2022-05-09 15:54] davidchea opened #89 "How to scrollToCard horizontally?"
### Before opening the issue, have you...?

- [X] Searched Google for a solution to my issue if applicable.

### Question

Is it possible to make the scrolling horizontal when calling scrollToCard?